# Dependencies
node_modules
**/node_modules/
**/dist
**/.turbo
**/coverage
**/.vercel
**/playwright-report
**/test-results
**/blob-report
**/vitest-results
**/storybook-static
**/public/_pagefind/
.env
.env*.local
config/tsup.config.bundled*
config/tsup.frameworks.config.bundled*
.next
.cursor
.DS_Store
.env
.gcs_entries
.gclient*
.cipd
.idea
publish-summary.json
**/.svelte-kit
**/*/*.tgz
.env
.env.*
**/playwright-report
**/test-results
CLAUDE.md